<p class="paragraph-knowledge">
    <label for="nombre" class="content-label">
        Nombre de Usuario
    </label>
    <input type="text" name="user_name" id="nombre" required="obligatorio" placeholder="Escribe tu nombre de usuario" value="{{user_name}}">
</p>

<p class="paragraph-knowledge">
    <label for="email" class="content-label">
        Email
    </label>
    <input type="email" name="email" id="email" required="obligatorio" placeholder="Escribe tu Email" value="{{email}}">
</p>

<p class="paragraph-knowledge">
    <label for="password" class="content-label">
        Password
    </label>
    <input type="text" name="password" id="password" placeholder="Change the password" value="{{password}}">
</p>