
@media (max-width:800px) {

    /* ? content-navbar1 - container search */

    .container-search {
        display: none;
    }

    /* ? content-navbar2 */

    .content-navbar2 {
        display: none;
    }

    /* ? nav : button-navbar */
    .button-menu-navbar {
        display: flex;
    }

    /* ? content-menu-nav */

    .content-menu-navbar {
        display: flex;
    }

    .icon-menu-nav {
        color: var(--secondaryColor);
        margin: 11px 8px;
    }

    .content-menu-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--mainColor);
        height: 250px;
        margin: 25px 0 0 0;
        padding: 15px;
        transition: 0.5s;
    }

    .content-menu-nav .option-menu {
        margin: 0 0 15px 0;
    }

    .active-nav {
        height: 7px;
        margin: 0;
        padding: 0;
        transition: 0.5s;
    }

    nav .active {
        content-visibility: hidden;
        transition: 0.5s;
    }
    

}