    <footer>
        <div class="social-network">
            <ul>
                <li>
                    <a title="facebook" href="#">
                        <i class="fa-brands fa-github size"></i>
                    </a>
                </li>
                <li>
                    <a title="linkdIn" href="#">
                        <i class="fa-brands fa-linkedin-in size"></i>
                    </a>
                </li>
                <li>
                    <a title="google" href="#">
                        <i class="fa-brands fa-google size"></i>
                    </a>
                </li>
            </ul>
            
        </div>

        <div class="final-content">
            <p>
                Para mantenerse en contacto presione cualquiera de los iconos.
            </p>
        </div>
    </footer>