    <header class="content-header">

        <div class="content-navbar1">

            <div class="content-logo">
                <a href="/">
                    <img class="logo-img" src="../img/logo-final.png" alt="company-logo">
                </a>
            </div>
    
            <div class="container-search">
                <form action="https://www.google.com/webhp" method="get" class="search-bar">
                    <input type="text" placeholder="search anything" name="4" class="input-search">
                    <button type="submit" title="button-submit" class="button-search">
                        <img src="../img/search.png" alt="-search-image">
                    </button>
                </form>
            </div>
    
            <div class="content-social-networks">
                <ul>
                    <li>
                        <a href="#" title="facebook">
                            <i class="fa-brands fa-facebook size-networks"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="whatsapp">
                            <i class="fa-brands fa-whatsapp size-networks"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" title="icon-sesion">
                            <i class="fa-solid fa-user custom-size-icons size-networks"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" title="trolley-shoppins">
                            <i class="fa-sharp fa-cart-shopping custom-size-icons size-networks"></i>
                        </a>
                    </li>


                </ul>
            </div>

            <div class="button-menu-navbar">
                <a href="#" title="icon-nav-menu" onclick= navMenu()>
                    <i class="fa-solid fa-bars icon-nav icon-menu-nav"></i>
                </a>

                <a href="#" title="icon-sesion">
                    <i class="fa-solid fa-user icon-menu-nav"></i>
                </a>
                
                <a href="#" title="trolley-shoppins">
                    <i class="fa-sharp fa-cart-shopping icon-menu-nav"></i>
                </a>
            </div>

        </div>

        <div class="content-navbar2">
            <ul class="menu-navbar">
                <li class="option-menu">
                    <a href="/">Productos</a>
                </li>
                <li class="option-menu">
                    <a href="{{novedades_header}}">Novedades</a>
                </li>
                <li class="option-menu">
                    <a href="{{offers_header}}">Ofertas</a>
                </li>
                <li class="option-menu">
                    <a href="/contact">Contáctanos</a>
                </li>
                <li class="option-menu">
                    <a href="/account">Cuenta</a>
                </li>
            </ul>
        </div>

        <nav class="content-menu-nav">
            <ul id="list-menu-nav">
                
                <li class="option-menu button-navMenu">
                    <a href="/">Productos</a>
                </li>
                
                <li class="option-menu button-navMenu">
                    <a href="{{novedades_header}}">Novedades</a>
                </li>
                
                <li class="option-menu button-navMenu">
                    <a href="{{offers_header}}">Ofertas</a>
                </li>
                
                <li class="option-menu button-navMenu">
                    <a href="/contact">Contáctanos</a>
                </li>
                
                <li class="option-menu button-navMenu">
                    <a href="/account">Cuenta</a>
                </li>
            </ul>
        </nav>

    </header>