<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ? Links CSS -->
        <link rel="stylesheet" href="../style/style.css">
        <link rel="stylesheet" href="../style/header/header.css">
        <link rel="stylesheet" href="../style/header/media-query-950px.css">
        <link rel="stylesheet" href="../style/header/media-query-800px.css">
        <link rel="stylesheet" href="../style/footer.css">
        <link rel="stylesheet" href="../style/contact/user-form.css">
        <!-- ? scripts -->
        <!-- From inside documents -->
        <script defer src="../js/header/button-nav-menu.js"></script>
    
        <!-- From outside -->
        <script src="https://kit.fontawesome.com/9674d29b4d.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <title>Insumocruz</title>
    </head>
<body>

    {{> general/header}}

    <!-- ?User-form -->
    <div class="contact_form">

        <div class="formulario">      
          <h1>Formulario de Cuenta</h1>
            <h3>Escríbenos y en breve los pondremos en contacto contigo</h3>
      
      
              <form action="/account" method="post" id="contact-form">
                
                    <p class="paragraph-knowledge">
                        <label for="nombre" class="content-label">Nombre de Usuario
                          <span class="obligatorio">*</span>
                        </label>
                        <input type="text" name="user_name" id="nombre" required="obligatorio" placeholder="Escribe tu nombre de usuario">
                    </p>
                  
                    <p class="paragraph-knowledge">
                        <label for="email" class="content-label">Email
                          <span class="obligatorio">*</span>
                        </label>
                        <input type="email" name="email" id="email" required="obligatorio" placeholder="Escribe tu Email">
                    </p>  
                  
                    <p class="paragraph-knowledge">
                        <label for="password" class="content-label">Password
                        </label>
                        <input type="text" name="password" id="password" placeholder="Enter your password">
                    </p>
                  
                    <div class="sign-in">
                      <a href="/verify-account">SIGN IN</a>
                    </div>
                    
                    {{> account_page/messageResult}}
                  
                    <button type="submit" name="enviar" value="account" id="enviar"><p>Enviar</p></button>
      
                    <p class="aviso">
                      <span class="obligatorio"> * </span>Los campos son obligatorios.
                    </p>
                
              </form>
        </div>  
    </div>

    {{> general/footer}}
    
</body>
</html>