    <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ? Links CSS -->
        <link rel="stylesheet" href="../style/style.css">
        <link rel="stylesheet" href="../style/header/header.css">
        <link rel="stylesheet" href="../style/header/media-query-950px.css">
        <link rel="stylesheet" href="../style/header/media-query-800px.css">
        <link rel="stylesheet" href="../style/footer.css">
        <link rel="stylesheet" href="../style/contact/user-form.css">
        <!-- ? scripts -->
        <!-- From inside documents -->
        <script defer src="../js/header/button-nav-menu.js"></script>
    
        <!-- From outside -->
        <script src="https://kit.fontawesome.com/9674d29b4d.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <title>Insumocruz</title>
    </head>
<body>

    {{> general/header}}

    <!-- ?User-form -->
    <div class="contact_form">

        <div class="formulario">      
            <h1>Clave de acceso</h1>
      
            <form action="/user/user-key" method="post" id="contact-form">

                <p class="paragraph-knowledge">
                    <label for="key" class="content-label">Clave de acceso
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="text" name="key" id="nombre" required="obligatorio" placeholder="Escribe la clave que se envió por email">
                </p>
                
                {{> account_page/messageResult}}
                
                <button type="submit" name="enviar" class="enviar" id="enviar" value="user-key"><p>Enviar</p></button>
                
            </form>
        </div>
    </div>

    {{> general/footer}}
    
</body>
</html>